* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #e5f0f6;
}

section {
  font-family: Arial, sans-serif;

  height: 100vh;
  width: 100vw;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
